In [48]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [49]:
csvpath = Path("budget_data.csv")

In [50]:
budget_dataframe = pd.read_csv(csvpath)
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [51]:
budget_dataframe.set_index(pd.to_datetime(budget_dataframe['Date'], infer_datetime_format=True), inplace=True)
budget_dataframe.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [52]:
budget_dataframe.drop(columns=['Date'], inplace=True)
budget_dataframe.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [83]:
change = (budget_dataframe - budget_dataframe.shift(1))
sum_change = change.sum()
average_change = round(sum_change / (len(change) - 1), 2)
total_data = budget_dataframe.sum()
budget_max =change.max()
budget_min = change.min()
budget_min

Profit/Losses   -2196167.0
dtype: float64

In [84]:
#Print final results
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {len(change)}")
print(f"Total: ${total_data}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: (${budget_max})")
print(f"Greatest Decrease in Profits: (${budget_min})")

Financial Analysis
----------------------------
Total Months: 86
Total: $Profit/Losses    38382578
dtype: int64
Average Change: $Profit/Losses   -2315.12
dtype: float64
Greatest Increase in Profits: ($Profit/Losses    1926159.0
dtype: float64)
Greatest Decrease in Profits: ($Profit/Losses   -2196167.0
dtype: float64)

In [18]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import numpy as np

csvpath = Path("budget_data.csv")
budget_dataframe = pd.read_csv(csvpath)
budget_dataframe.set_index(pd.to_datetime(budget_dataframe['Date'], infer_datetime_format=True), inplace=True)
budget_dataframe.drop(columns=['Date'], inplace=True)

change = (budget_dataframe - budget_dataframe.shift(1))
sum_change = change.sum()
average_change = round(sum_change / (len(change) - 1), 2)
total_data = budget_dataframe.sum()
budget_max =change.max()
budget_min = change.min()


#Print final results
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {len(change)}")
print(f"Total: ${total_data}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: Feb -2012 (${budget_max})")
print(f"Greatest Decrease in Profits: Sep-2013 (${budget_min})")

Financial Analysis
----------------------------
Total Months: 86
Total: $Profit/Losses    38382578
dtype: int64
Average Change: $Profit/Losses   -2315.12
dtype: float64
Greatest Increase in Profits: Feb -2012 ($Profit/Losses    1926159.0
dtype: float64)
Greatest Decrease in Profits: Sep-2013 ($Profit/Losses   -2196167.0
dtype: float64)